<div class="jumbotron">
    <h2>Правила приложения</h2>
    <p class="lead"><ol><li>Генератор случайных чисел выбрасывает числа от 1 до 24 в случайном порядке. Пользователю необходимо предугадать
    очередность выпадения каждого числа в виде череды четных и нечетных чисел.</li>
    <li>Пустые квадраты игрового бланка означают, что пользователь предполагает в квадратах выпадение нечетных чисел, а в
    заполненных квадратах – выпадение четных чисел.</li>
    <li>Пользователь получает один балл за каждый правильный ответ и теряет один балл за каждый неправильный ответ.</li>
    <li>Теоретически общее число уагдаваний равно 24. Практически за 10 лет исследований было
    только одно угадывание 23 из 24.</li>
    </ol>
</p>
</div>