<div class="jumbotron">
    <h1>Правила приложения</h1>
    <p class="lead"><ol><li>Генератор случайных чисел выбрасывает числа от 1 до 24 в случайном порядке. Пользователю необходимо предугадать
    очередность выпадения каждого числа в виде череды четных и нечетных чисел.</li>
    <li>Пустые квадраты игрового бланка означают, что пользователь предполагает в квадратах выпадение четных чисел, а в
    заполненных квадратах – выпадение нечетных чисел.</li>
    <li>Маленькая цифра 12 всплывает на 5 секунд как памятка для пользователя, заполняющего бланк, что он закончил вводить
    свой прогноз. Можно добавить прерывистый сигнал, оповещающий окончание заполнения игрового бланка.</li>
    <li>Два квадрата с указанными над ними буквами S и s предназначены для указания итогового результата данного пользователя
    по окончании приема прогноза.</li>
    <li>Буква S означает общее количество угадываний. Теоретически оно равно 24. Практически за 10 лет исследований было
    только одно угадывание 23 из 24.</li>
    </ol>
</p>
</div>